<html>
  <!--<link rel=stylesheet type="text/css" href="/assets/stylesheets/page1.css">-->
  <head>
  <%=stylesheet_link_tag "page1.css"%>
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>--><>
  <%=javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"%>
  <%=javascript_include_tag "page1.js"%>
  </head>
  <!--<script type="text/javascript" src="assets/javascripts/page1.js"></script>-->
  <body>
  <center><button class="newGrid">New Grid</button></center>
  <div id="container"></div>
  <br><br>
  </body>
</html>